/* Have moved this section styling here as the overflow display in pop up differs for pin and round hotspot pages */

section {

    margin-top: 50px;

}


/* HOT SPOTS PIN STYLING */

.hotspot_pin{

    width: 3.5vw;

    height: auto;

    transform: rotate(-45deg);

    border-radius: 50% 50% 50% 0%;

    border: 1px solid #ffffff;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: #005EB8;
    
    color: #ffffff;

    text-align: center;

    cursor: pointer;
    
    -webkit-user-select: none; /* Safari */
    
    -moz-user-select: none; /* Firefox */
    
    -ms-user-select: none; /* IE10+/Edge */
    
    user-select: none;

    box-shadow:         2px 2px 1px  rgba(0,0,0,0.2);

    -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.2);

    -moz-box-shadow:    2px 2px 1px rgba(0,0,0,0.2);
}


.hotspot_pin:after {
    
    content: "";

    display: block;

    padding-bottom: 100%;
}


.spot_pin {

    width: 1.5vw;

    height: 1.5vw;

    transform: rotate(-45deg);

    border-radius: 50%;

    background-color:#ffffff;

}


.hot1_pin {
    position: absolute;

    top: 10%;

    left: 32.5%;
}


.hot2_pin {

    position: absolute;

    top: 28%;

    left: 32%;
}


.hot3_pin {

    position: absolute;

    top: 22%;

    left: 34%;

}


.hot4_pin {

    position: absolute;

    top: 45%;

    left: 26.7%;

}


.hot5_pin {

    position: absolute;

    top: 22%;

    left: 63%;

}


.hot6_pin {

    position: absolute;

    top: 36%;

    left: 63%;
}

.hot7_pin {

    position: absolute;

    top: 5%;

    left: 5%;
}

.hot8_pin {

    position: absolute;

    top: 90%;

    left: 50%;
}


@media only screen and (max-width: 759px) {


    .hotspot_pin {

        width:4vw;

        box-shadow:         1px 1px 0px  rgba(0,0,0,0.2);

        -webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    
        -moz-box-shadow:    1px 1px 0px rgba(0,0,0,0.2);
    }

    .spot_pin {
        width: 1.8vw;

        height: 1.8vw;
    }


  }